.heart
{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(45deg) translate(10px, 10px);
    animation: ani 1s linear infinite;
}

.center
{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.heart:before
{
    content:'';
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: -50px;
    left: 0px;
    border-radius: 50%;
}

.heart:after
{
    content:'';
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 50px;
    border-radius: 50%;
}

@keyframes ani
{
   0%{
    transform: rotate(45deg) translate(10px, 10px) scale(1.0);
   }
   25%{
    transform: rotate(45deg) translate(10px, 10px) scale(1.0);
   }
   30%{
    transform: rotate(45deg) translate(10px, 10px) scale(2.0);
   }
   50%{
    transform: rotate(45deg) translate(10px, 10px) scale(1.2);
   }
   70%{
    transform: rotate(45deg) translate(10px, 10px) scale(2.0);
   }
   90%{
    transform: rotate(45deg) translate(10px, 10px) scale(1.0);
   }
   100%{
    transform: rotate(45deg) translate(10px, 10px) scale(1.0);
   }
}